.mapa {
    height: 300px;
    padding: 2rem;
    margin: 3rem;
    width: 100%;
    max-width: 600px; 
    margin-left: 3rem; 
    border: none; 
    flex-wrap: wrap;

}
   

.video {
    height: 30rem;
    border: 100px;
    padding: 50px;
    margin: 2rem;
    width: 30rem
    
}

header ul {
    height: 50px;
    display: flex;
    border: 2px solid black;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

body {
    background-color: rgba(103, 85, 119, 0.336);
    flex-wrap: wrap;
}

h1 {
    color: rgb(0, 110, 255);
    font-size: 50px;
    font-family: "Playwrite DE Grund Guides", cursive;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
    height: 10px;
    width: 10px;

}

header {
    background-color: black;
    flex-wrap: wrap;
}

footer {
    background-color: darkgrey;
    font-size: smaller;
    flex-wrap: wrap;
}

li {
    list-style: none;
}

a {
    text-decoration: solid;
    color: darkcyan;
}

.p {
    color: blue;
}




.menu--nav {
    display: flex;
    font-size: 2.4rem;
    gap: 3rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    flex-wrap: wrap;
}

#contacto {
    background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.suqiee.com.mx%2Fpasteles%2Fpastel-clasico%2F&psig=AOvVaw3CMpIZnw_OI352gzOf3qZu&ust=1760844055371000&source=images&cd=vfe&opi=89978449&ved=0CBUQjRxqFwoTCPj3o7flrJADFQAAAAAdAAAAABAg);
    background-size: cover;
    color: white;
    padding: 3rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

#contacto form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;


}

textarea {
    display: block;
}

.Producto img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-bottom: 1px solid #000;
}


.Producto--Detalle--texto {
    padding: 0 1rem;
    color: #333;
}

.Producto-Detalle-Precio {
    font-weight: bold;
    margin: 0.8rem 0;
}

.Producto button {
    background-color: #0078d7;
    color: white;
    border: none;
    border-radius: 0.5rem;
    padding: 0.6rem 1.2rem;
    margin-bottom: 1rem;
    cursor: pointer;
}

.Producto button:hover {
    background-color: #005fa3;
}

.Productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    padding: 8rem;
}

.Producto {
    background-color: #bfe1f1;
    border: 1px solid #000;
    width: 280px;
    padding: 2rem;

}

.encabezado {
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    flex-wrap: wrap;
}


.encabezado img {
    height: 10rem;
    margin-right: 1rem;
    flex-wrap: wrap;
}


#Inicio h2 {
    font-size: 2.5rem;
}

#Inicio p {
    font-size: 1.8rem;
}

section {
    max-width: 900px;
    margin: 2rem;
    font-size: 1.2rem;
    color: #111;
}


section h2 {
    font-size: 2.8rem;
    font-weight: bold;
    color: #000000;
    margin-bottom: 1rem;
}

#productos h2 {
    font-size: 3.2rem;
    color: #000;
    margin-bottom: 2rem;
    
}

.Producto h3 {
    font-size: 1.9rem;
    color: #000;
    margin-bottom: 0.5rem;
}

#Contacto {
    color: #000;
    flex-direction: column;
    width: 400px;
    margin: 2px;
    font-family: "Poppins", sans-serif;
    font-size: 2.4rem;
    align-items: flex-start;


}

.contacto h2 {
    text-align: center;
    color: #4b2b5f;
    margin-bottom: 20px;
    font-size: 2.8rem;
}

#form-contacto {
    display: flex;
    flex-direction: column;
    gap: 12px;
    font-size: 2.5rem;
    margin-left: 2px;
    align-items: start;
}

.form-contacto label {
    font-weight: 600;
    color: #333;
    margin: 2px;
    align-items: start
}

#form-contacto input,
#form-contacto textarea {
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 2.9rem;
    margin: 2px;
    align-items: start
}

#form-contacto button {
    background-color: #9a5dc6;
    color: white;
    border: black;
    padding: 10px;
    font-size: 40px;
    font-weight: 600;
    margin: 2px;
    align-items: start
}

.contacto-container {
  width: 20rem;
  padding: 3rem;
  background-color:#005fa3;
  flex-direction: column;
  margin-left: 2px;
  align-items: start
  
}


body {
  font-size: 16px;
}

h1 { font-size: 3rem; }
h2 { font-size: 2.6rem; }
h3 { font-size: 2rem; }
h4 { font-size: 1.6rem; }
p  { font-size: 1.1rem; }


.pie{
    font-size: 3rem;

}
