* {
    margin: 0;
    box-sizing:border-box;
    font-family: "Playwrite DE Grund Guides", cursive;
}
.contenedor {
    width: 500px;
    border: 10px solid red;
    overflow:scroll;
    padding: 50px;
    margin: 50px;
    
}


h1 {
    margin-bottom: 16px;
}

h2 {
    margin-bottom: 8px;
}

#productos img {
    display: block;
    width: 100%;

}

p {
    margin: 50px;
    padding: 20px;
    border: 10px;

}